*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.cabeçalho {

  background-color:#00d9ff  ;  
  display: flex;
  justify-content: space-around;
  padding: 24px 0;

}

.cabeçalho-imagem{
  
  width: 50%;

}

.cabeçalho-lista-item{
  display: inline-block;
  margin: 0 16px;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.escola{

  background-image:linear-gradient(#00d9ff ,#ff00ea);
  display: flex;

}

.escola-imagem {

width: 30%;

}

.estudante-imagem {
width: 30%;

}
.estudante{

  background-color:#ff00ea ;  

}

.estudante-div{
  align-items: center;
}